header {
  height: 1.5rem;
  background-color: black !important;

  .menu {
    .menubar {
      display: inline-block;
      justify-self: flex-start;
      padding-top: 0.5rem;
      margin-left: 1rem;
      width: 1rem;
      fill: #ffffff;
    }

    .navbar {
      position: absolute;
      top: 0;
      left: 0;
      width: 90%;

      max-width: 20rem;
      min-width: 12rem;
      padding: 1rem;
      background-color: #424242;
      color: rgba(255, 255, 255, 0.87);
      height: 100vh;
      // visibility: hidden;
      display: inline-block;

      @media (min-width: 768px) {
        width: 50%;
      }
    }

    .nav-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        margin-bottom: 0;
      }

      svg {
        width: 1rem;
        fill: #ffffff;
      }
    }

    .navlist {
      margin-top: 2rem;
      list-style: none;
      padding-left: 0;
      li {
        a {
          width: 100%;
          font-size: 1rem;
          margin-bottom: 1rem;

          svg {
            width: 0.8rem;
            fill: #ffffff;
            margin-right: 1rem;
          }
          &:hover {
            color: #5ef9e3;
          }
          &.active{
            color: #45e4cc;
          }
        }
      }
    }
  }
}
