.parent-conatiner {
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  background-color: black !important;
  color: rgba(255, 255, 255, 0.87) !important;

  .heading {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0;

    span {
      .user {
        color: linear-gradient(
          90deg,
          rgba(5, 211, 219, 1) 0%,
          rgba(0, 255, 192, 1) 100%
        ) !important;
      }
    }
  }
  .description{
    font-size: .8rem;
  }
}

.data-card {
  background-color: #272727;
  color: rgba(255, 255, 255, 0.87) !important;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;
  height: 17rem;
}
